* {
  box-sizing: border-box;
}

.main-nav {
  padding: 2rem;
  background-color: white !important;
  font-size: 1.5em;
}

.nav-link {
  margin-left: 2.5em;
}

footer {
  border: 2px solid black;
  padding: 2em;
}

.card {
  height: 60vh;
}

.card-img-top {
  height: 30vh;
  width: 100%;
  object-fit: cover;
}
